<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pastry Cart</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/cart_style.css">
</head>
<body>

<header class="container header">
    <div class="header__text">
        <a href="/products"><img class="header__logo" src="/assets/pictures/logo.png" alt="logo"></a>
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item"><a href="/products">HOME</a></li>
                <li class="main-nav__item"><a href="/product/add">ADD PRODUCT</a></li>
                <li class="main-nav__item"><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="container cart">
        <h2 class="cart__header">Shopping Cart</h2>
        <table class="cart__list">
            <tr class="cart__item"  th:each="cartItem : ${cartItems}" th:id ="${cartItem.product.id}">
                <td class="delete__item">
                    <button class="delete__btn" th:data-id="${cartItem.product.id}" name="productId"></button>
                </td>
                <td class="product__image">
                    <img src="/assets/img/default-product.jpg" alt="product photo">
                </td>
                <td class="product__name" th:text="${cartItem.product.name}"></td>
                <td class="product__quantity" th:text="${cartItem.quantity}"></td>
                <td class="product__price"><span th:text="${cartItem.product.price}"></span>$</td>


            </tr>
        </table>
        <div class="cart__total">
            <p>Total: <span id="total__price" th:text="${#aggregates.sum(cartItems.![product.price*quantity])}"></span> $</p>
        </div>
        <div class="cart__actions">
            <a class="btn cart__back" href="/products">Back</a>
            <a class="btn cart__checkout" href="#">Checkout</a>
        </div>
    </section>
</main>


<footer class="container">
    <section class="contacts">
        <h2 class="contacts__header">Visit the shop</h2>
        <p>+380971112223</p>
        <p>London center of cakes, 12</p>
        <p>MON-SAT: 11AM-7PM</p>
        <p>SUN: 12PM-6PM</p>
    </section>
    <section class="social">
        <h2 class="social__header">Follow us</h2>
        <a href="#" class="social__item"><i class="fab fa-vk"></i></a>
        <a href="#" class="social__item"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social__item"><i class="fab fa-instagram"></i></a>
    </section>
</footer>
<script src="/assets/jquery/jquery.min.js"></script>
<script type="module" src="/assets/js/main.js"></script>
</body>
</html>