<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <title>Products</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd">
    <a class="navbar-brand" href="/products">
        <img src="/assets/img/store-logo.jpg"
             width="30px" height="30px"
             class="d-inline-block align-top"/>Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/product/add">Add Product <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/cart">Cart</a>
        </li>
    </ul>
</nav>
<div class="container p-3">
    <div class="row">
        <div class="col-md-3 p-4" th:each="product : ${products}">
            <div class="card" style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}">
                <img src="assets/img/default-product.png"
                     alt="" class="card-img-top">
                <hr/>
                <div class="card-body">
                    <h4 class="card-title" th:text="${product.name}"></h4>
                    <p class="card-text">Price = <span th:text="${product.price}"></span>$
                        <br> Date created : <span
                                th:text="${#temporals.format(product.creationDate, 'dd-MM-yyyy HH:mm')}"></span></p>
                    <form action="/cart" method="post">
                        <button name="productId" th:value="${product.getId()}">add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>