<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Pastry Shop</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" >
</head>
<body>

<header class="container header">
	<div class="header__text">
		<img class="header__logo" src="/assets/pictures/logo.png" alt="logo">
		<nav class="main-nav">
			<ul class="main-nav__list">
					<li class="main-nav__item"><a href="/products">HOME</a></li>
					<li class="main-nav__item"><a href="/product/add">ADD PRODUCT</a></li>
					<li class="main-nav__item"><a href="/cart"><img src="/assets/pictures/cart.png" alt="cart logo"></a></li>
				</ul>
		</nav>
	</div>
</header>

<main class="container">
	<section class="product">
		<h2 class="product__header">Catalog</h2>
		<div class="product__description" th:each="product : ${products}" >
			<img class="product__image" src="/assets/img/default-product.jpg" alt="product photo">
			<ul class="description__list">
				<li class="product__name"  th:text="${product.name}"></li>
				<li class="product__price"  ><span th:text="${product.price}"></span> $</li>
				<li class="product__date">Created on <span th:text="${#temporals.format(product.creationDate, 'dd-MM-yyyy HH:mm')}"></span></li>
				<li > <form action="/cart" method="post">
                        <button class="btn" name="productId" th:value="${product.getId()}">add to cart</button>
                    </form></li>
			</ul>
		</div>
	</section>
</main>

<footer class="container">
	<section class="contacts">
		<h2 class="contacts__header">Visit the shop</h2>
		<p>+380971112223</p>
		<p>London center of cakes, 12</p>
		<p>MON-SAT: 11AM-7PM</p>
		<p>SUN: 12PM-6PM</p>
	</section>
	<section class="social">
		<h2 class="social__header">Follow us</h2>
			<a href="" class="social__item"><img src="/assets/pictures/vk.png" alt="vk"></a>
			<a href="#" class="social__item"><img src="/assets/pictures/fb.png" alt="fb"></a>
			<a href="#" class="social__item"><img src="/assets/pictures/inst.png" alt="inst"></a>
	</section>
</footer>
</body>
</html>
