<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--datasource-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
    </bean>
    <bean id="jdbcTemplate" class="com.dzytsiuk.jdbcwrapper.JdbcTemplateImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="productDao" class="com.dzytsiuk.onlinestore.dao.jdbc.JdbcProductDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="userDao" class="com.dzytsiuk.onlinestore.dao.jdbc.JdbcUserDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <!--factory post processor-->
    <bean class="com.dzytsiuk.onlinestore.postprocess.PropertyPlaceholderBeanFactoryPostProcessor"/>
</beans>