.header{
    background: #393939 none;
    flex: 0 0 90px;
}
main{
    display: flex;
}

.product__header{
    text-align: center;
}

.add__product{
    margin: auto;

}
.product__add{
    margin-left: 60px;
}

.product__attribute{
    display: block;
    width: 300px;
    height: 30px;
    text-align: left;
    padding: 5.5px 0 0 16px;
    border: 1px solid #d5d5d5;
    border-radius: 3%;
    margin-bottom:23px;
    margin-top:10px;
}

.cancel__btn{
    padding: 8.5px;
    width: 120px;
    margin: 0 50px 20px 120px;
}

.add-product__btn{
    width:100px;
}

#price__error{
    color: darkred;
}