.header {
    background: #393939 none;
    flex: 0 0 90px;
}

.cart{
    background-color: #f2f2f2;
    min-height: 600px;
}

.cart__header{
    padding-top: 20px;
    margin: 0 0 30px 30px;
}

.cart__list{
    border-collapse: collapse;
    width: 100%;
}


.cart__list td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.cart__list tr:nth-child(even){background-color: #f2f2f2;}

.cart__list tr:hover {background-color: #ddd;}
/*
.cart__item{
    display: flex;
    border-bottom: 1px solid  #393939;
    margin-right: 100px;
}
*/
.delete__item{
    margin-top: 20px;
}

.delete__btn{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    background-image: url("../pictures/del.png");
    border: none;
    margin-left: 30%;
}

.delete__btn:active{
    border: 1px solid #fff;
    outline: none;
}

product__image{
    width: 20%;
}
.product__image img{
    width: 120px;
    height: auto;
}
.description__list{
    padding-top: 40px;

}
.description__list li{
    display: inline;
    margin: 0 150px 0 100px;
}

.cart__total{
    margin-left: 72%;
}

.cart__total p{
    font-size: 18px;
}

.cart__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart__actions a{
    padding-top: 10px;
    height: 30px;
}

.cart__back{
    margin-bottom: 2%;
}

