main{
    display: flex;
    background-color: #f2f2f2;
}
.header{
    background: #393939 none;
    flex: 0 0 90px;
    justify-content: flex-start;
}


.login{

    margin: auto;

}

.login__error{
    color: darkred;
    width: 300px;
    margin-left: 70px;
}

.login__header{
    margin-top:0;
    text-align: center;

}

.login__attribute{
    display: block;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 5.5px 0 0 16px;
    border: 1px solid #d5d5d5;
    margin-bottom:23px;
    margin-top:10px;
}


.login__btn{
    width: 120px;
}