/*---main style---*/
html{
    margin:auto;
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}

p{
    line-height: 24px;
}
.container{
    /*width: 1280px;*/
}

.btn{
    background: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    height: 40px;
    width: 165px;
    text-align: center;
    color: #a38b70;
    border: 2px solid #a38b70;

}


.btn:hover{
    color: #8d7359;
    border: 2px solid #8d7359;
}

.btn:active{
    border: 2px solid #8d7359;
    color: #ddd5cd;
    outline: none;
}

/*header*/
.header{
    /*background: url("/assets/img/header_back.jpg") center;*/
    background-size: cover;
    flex: 0 0 600px;
    display: flex;
    flex-direction: column;
}

.header__text{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #393939;
}

.header__logo{
    width: 200px;
    height: 50px;
    margin: 20px 0 0 40px;
}

.main-nav__list{
    display: flex;
    margin-top: 45px;
    list-style-type: none;
}

.main-nav__item a{
    line-height: 36px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 30px;

}


.main-nav__item a:active{
    color: #f7af68;
    text-decoration: underline;
}
.main-nav__item a:hover{
    text-decoration: underline;
}


.mySlides {
    height: 60%;
    display: none;
}

.hide{
    display: none;
}
.show{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;


}

/* Slideshow container */
.slideshow-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    /*position: relative;*/
    margin: auto;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.mySlides img{
    width: 100%;
    height: 40%;
}

.logo__ontop{
    position: absolute;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    line-height: 80px;
    -webkit-text-fill-color: lavender; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-weight: bold;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*main*/
.product{
    background-color: #f2f2f2;
    margin-top: 0;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.product__description{
    display: flex;
    width: 45%;
}


.product__image{
    width: 225px;
    height: 225px;
    margin-bottom: 5%;
}


.description__list{
    list-style-type: none;
}

.product__name{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.product__price{
    font-size: 24px;
    line-height: 36px;
}

.product__date{
    font-size: 14px;
    text-align: right;
}


/*footer*/

footer{
    background-color: #363636;
    display: flex;
    flex: 0 0 300px;
    justify-content: space-around;
}

.contacts{
    margin-top: 40px;
}
.contacts__header{
    margin-top: 0;
    color: #fff;
    padding: 20px 0 0 20px;
}

.contacts p{
    color: #fff;
    line-height: 16px;
    padding-left: 20px;
}

.social{
    margin-top: 40px;
}

.social__header{
    color: #fff;
}

.social__item{
    margin-right: 20px;
    color: #ffffff;
}


